[submodule "libfcm"]
	path = libs/libfcm
	url = git@github.com:rcoscali/libfcm.git
[submodule "libStNRGen"]
	path = libs/libStNRGen
	url = git@github.com:rcoscali/libStNRGen.git
[submodule "CUnit-2.1-3"]
	path = libs/CUnit-2.1-3
	url = https://github.com/rcoscali/CUnit-2.1-3.git
